opencv-python
tensorflow
tensorflow-gpu
keras
numpy
pandas
sklearn
scipy
flask
flask-socketio
gevent
uwsgi
pillow
psutil
argparse
dill
fire
requests
scikit-image
slidingwindow
tqdm
celery
redis
git+https://github.com/ppwwyyxx/tensorpack.git
